[2020-03-01 07:35] yohimbe110 opened #1 "can't get past nagscreen"
I can see the menu below the warning overlay but I can't close it.

[2020-03-01 07:37] sunilpaulmathew commented on #1
Thanks for reporting.
However, ai don't understand the issue clearly.
Can I have a screenshot, please?

[2020-03-01 07:46] yohimbe110 commented on #1
#
![Screenshot_20200301-084155_Package_Manager](https://user-images.githubusercontent.com/22657539/75621773-1776b180-5b99-11ea-8ee8-5c87fd25ae59.png)

[2020-03-01 07:53] sunilpaulmathew commented on #1
@yohimbe110
Ahh, I got it...
So, your device secren is too small?
Also, you can't scrol?
I'll look for it anyway...

[2020-03-01 08:08] yohimbe110 commented on #1
yes you're right installed it on my Google Pixel tab
![IMG_20200301_090722](https://user-images.githubusercontent.com/22657539/75622031-20b54d80-5b9c-11ea-8711-af6f49edfdc2.jpg)

[2020-03-01 11:38] #1 closed

[2020-07-15 07:22] jester3699 opened #5 "Issue with package manager"
Good day! I followed a link from your kernal manager which I have been using for a while on a sm-t910t (samsung galaxy note 4 on tmo.) Decided to try out the package manager as a modern replacement for the waaaaay out dated ROM toolbox that I have been holding at the last useful version for years now. The only thing I am after is freezing and restoring apps so this seemed perfect. The package mana

[2020-07-15 08:50] sunilpaulmathew commented on #5
I have no idea about what is happening on your device. However, I suspect that it should be something that beyond the scope of the app.

[2020-07-15 08:54] jester3699 commented on #5
This is what is happening. Sorry, realized I had forgotten to attach this
pic. Thanks for your time :-)

On Wed, Jul 15, 2020, 1:50 AM sp <notifications@github.com> wrote:

[2021-01-31 14:16] #5 closed

[2021-02-02 20:37] Megver83 opened #6 "[Feature] turn user apps into system apps and vice versa"
I was thinking in something like "/system/app mover" (the F-Droid app), as that's the only FLOSS app in F-Droid able to do that (AFAIK), but it's too old and looks like this feature would be awesome in Package Manager

[2021-02-03 07:48] sunilpaulmathew commented on #6
@Megver83
Thanks a lot for the suggestion. Despite it's a good addition to Package Manager, I doubt it will work on many devices due to issues related with mounting file systems. Still, there is nothing wrong to give a shot. I'll keep this issue open.

[2021-02-20 03:56] marsgovernor opened #7 "The keyboard is always triggered when open APP ."
It is recommended that the focus do not put on the search box when open APP.

[2021-02-20 04:28] marsgovernor opened #8 "Suggest to add some new functions."
1. Distinguish user application and system application by text or color.
2. List the running applications.
3. Put the disabled application at the top When sorting.

I don't understand the difference between disable and freeze.
Can the freezing function be added?

[2021-02-20 11:52] sunilpaulmathew commented on #7
I'm largely re-designing the app UI so that the search box itself won't be shown in the main UI by default. I hope, it will solve that issue.

[2021-02-20 11:54] sunilpaulmathew commented on #8
Thanks for the good suggestions. I'll keep that in mind during future updates (now working on some other UI updates).

[2021-02-20 12:00] #7 closed

[2021-02-25 03:29] marsgovernor opened #9 "In batch mode, the operation results page does not seem to scroll automatically."
When many APPs are disabled at once, it does not seem to scroll automatically.

Another suggestion:
When an app is disabled, it is expected to return to the current scrolling position of the main page instead of the top position.

[2021-02-25 07:48] sunilpaulmathew commented on #9
Thanks for reporting the first issue, which I will fix (hopefully) in next update. You'll probably notice that issue on various batch tasks as well as with Split APK installation.

Regarding the the suggestion, currently it is done (refreshing page that led to the mentioned effect) intentionally to get the new status in effect (after disabled/enabled/uninstalled etc.). I'll have some other idea to

[2021-02-26 08:30] marsgovernor opened #10 "I really expect it to work with Android 5.0."
This is the best application! It's just that it can't be used in old device.

[2021-02-26 10:54] sunilpaulmathew commented on #10
I really don't think it is possible, or at least not worth spending time considering the less user likely have on such old versions. I hope you will understand it. Thank You.

[2021-02-26 21:58] nonamecode87 opened #11 "No option to grant root access."
It's not requesting root access when I try uninstalling system apps. Also F-droid repo is only showing 3.4 as most recent update
![Screenshot_20210226-154309693](https://user-images.githubusercontent.com/39183803/109359642-6f4b0580-784b-11eb-9f0d-651044e451f9.jpg)
![Screenshot_20210226-154337472](https://user-images.githubusercontent.com/39183803/109359647-7114c900-784b-11eb-9b35-320484fa78fb.jpg)

[2021-02-26 22:07] sunilpaulmathew commented on #11
Probably, you declined root permission on first app launch? Either way,. please check Magsik manager and make sure that the root access is granted for this app.

Regarding the F-Droid update, I really do not have nothing to do. F-Droid usually takes few days to acquire and build latest tag from my source code. From my side, I already tagged v3.5 and v3.6 (just few hours ago).

[2021-02-26 22:13] sunilpaulmathew commented on #9
@marsgovernor
Scrolling issue should be fixed in v3.6 (submitted to google play). Other suggestions are still in pending.

[2021-02-27 08:33] marsgovernor commented on #9
Thank you for your hard work!

[2021-03-29 20:09] ZenerDeveloper opened #17 "Keyboard displays enter button when searching"
When using the search bar, the keyboard displays the enter key, meaning if you hit that instinctivly from other apps with a search bar, it adds a newline to the searchbox. I don't think it is possible to have a newline in a package name, and having a search button that hides the keyboard would make more sense.

[2021-03-31 10:47] sunilpaulmathew commented on #17
You're right. & I'll look on that issue. Thanks again for constantly supporting my work.

[2021-04-01 17:29] ZenerDeveloper commented on #17
Of course, this is one of theost used apps on my phone, as I have been removing tons of bloat. Thanks for creating such a useful program!

[2021-04-01 19:16] #17 closed

[2021-04-02 02:33] pokegamer5547 opened #18 "Unable to open mi file manager app in package manager."
Package manager doesn't show the settings and show an error when I click on mi file manager app of Xiaomi even tho it is installed already on system and loading up fine when I launch it from launcher.
![Screenshot_2021-04-02-08-00-17-215_com smartpack packagemanager](https://user-images.githubusercontent.com/65234485/113374004-b2881f00-9389-11eb-80a3-e2202c3d6745.jpg)
![Screenshot_2021-04-02-08-00

[2021-04-02 08:34] sunilpaulmathew commented on #18
@pokegamer5547
You mean, when you click on it, it doesn't load the "**App Info**" page at all?

[2021-04-02 08:41] pokegamer5547 commented on #18
Yes that's right. It doesn't happen when I click on other apps.

[2021-04-02 10:19] sunilpaulmathew commented on #18
Strange. Is that app available in Google Play or somewhere else so that I will try to reproduce here?

[2021-04-02 11:19] pokegamer5547 commented on #18
Yes mi file manager is available on Google Play Store. Its an system app in my phone though. Link; https://play.google.com/store/apps/details?id=com.mi.android.globalFileexplorer

[2021-04-03 08:12] sunilpaulmathew commented on #18
The strange thing is that it worked fine on my testing.

[2021-04-03 08:23] pokegamer5547 commented on #18
Really? Well this is really strange bug.i don't know why it's happening only in my phone.i have even tried clearing it's data but it's still happening. Is there any way available to provide log in package manager?

[2021-04-14 07:06] #10 closed

[2021-04-16 12:13] shalva97 opened #19 "feature to sort by new apps or some kind of whitelist"
currently I have about about 50 apps, some of which I use once or twice a month. There are also other apps that are never used and then forgotten.

So the problem is scrolling and searching for the apps that I dont use. it usually happens like this:
 - Install an app
 - use it once
 - forget about it next day
 - forget what it was called on third day
 - now there is less space on my device
 - suff

[2021-04-16 23:09] sunilpaulmathew commented on #19
@shalva97
Thanks for the suggestion. Personally, I want to keep this app as simple as possible. Creating a kind of favourite list may not be much complicated. However, I have no idea how complicated implementing the other feature. I'll have a look on future.

[2021-04-17 15:11] Tranquiloz opened #20 "Android"

[2021-05-06 13:00] shalva97 opened #21 "crashes when tapping uninstalled app"
1. click an app
2. press uninstall icon, and agree to uninstall it
3. go back to the list
4. uninstalled app is still there
5. click on it and app crashes

[code]

[2021-05-07 10:12] sunilpaulmathew commented on #21
@shalva97
That is really strange. I can't reproduce that issue here. It shows a snackbar with the following content "**Selected package is just removed! Aborting…**"

[2021-05-08 07:36] #20 closed

[2021-05-08 16:20] shalva97 commented on #21
it should be removed from the list if it is uninstalled... at least thats what I expect to happen, the list should be updated when I return to it

[2021-05-25 01:55] Pantyhose-X opened #22 "add functions Select all"

[2021-05-26 21:24] Megver83 commented on #6
any update on this?

[2021-05-30 06:38] sunilpaulmathew commented on #6
It is (infact most of my projects) still on hold due to more important issues in real life. Thanks for the understanding.

[2021-06-07 16:37] Megver83 commented on #6
Sure, it happens to everybody. As a side note, you could check the [App Systemizer](https://forum.xda-developers.com/t/module-terminal-app-systemizer-v17-3-1.3585851/) Magisk module, maybe PackageManager could imitate its behaviour

[2021-06-08 20:59] sunilpaulmathew commented on #6
Thanks for understanding.
& I know how the App Systemizer module works, but it badly needs a fully working Magisk environment, For eg: It won't work in Magisk core-only mode or with other rooting solutions, I really don't want to make this app too much dependent on Magisk.

[2021-06-14 17:42] ZenerDeveloper opened #23 "v4.6 changes where exports are stored"
In v4.5, exported apks are stored in `/storage/emulated/user/Package_Manager/` but in v4.6 it now stores it in `/storage/emulated/user/Android/data/com.smartpack.packagemanager/files/` Which is a lot more difficult to get to, with samsung files showing nothing in the data folder entirely, and material files needing ti get access thriugh documentsui.
It eould be nice to have the option of customizi

[2021-06-14 21:36] sunilpaulmathew commented on #23
@ZenerDeveloper
Thanks to Google for their policy changes for Android 11, I'm forced to do it. The new path is one of the place in which app can freely access. In order to access /sdcard/PackaManager in Android 11, "All files permission" should be granted. The only thing I can do is to store files in the old path once the users provided the permission. However, many users may not give it due to pr

[2021-06-15 18:23] sunilpaulmathew commented on #23
Should be fixed with the next update if users grant "All files permission" to the app. So, closing this issue.

[2021-06-15 18:23] #23 closed

[2021-06-15 19:03] sunilpaulmathew commented on #22
@Pantyhose-X
Should be available on the next update. So, closing this issue.

[2021-06-15 19:03] #22 closed

[2021-06-29 20:59] ZenerDeveloper opened #24 "Search converts all characters to lowercase"
When you search, the matching section (Name or Package) gets converted to lowercase.
Example:
Name: `Smart Switch Agent`
Package: `com.sec.android.easyMover.Agent`
If you search a word in the title say `smart` it becomes
Name: `smart switch agent`
Package: `com.sec.android.easyMover.Agent`
When tapped it works fine however if you search `samsung` it becomes
Name: `Smart Switch Agent`
Package: `com

[2021-07-03 23:51] ZenerDeveloper commented on #18
I believe this may be related to my issue #24 as mi file manager has the package name `com.mi.android.globalFileexplorer`
Try reopening the app and finding it in that list (never searching anything up before) or searching something not in the package name for example `file manager`
Also @sunilpaulmathew try tapping it after searching `file` to see if that reproduces the issue.

[2021-07-04 08:33] sunilpaulmathew commented on #18
You're perfectly correct. I know why it happened in the current implementation of app. I'm looking for an alternate method that completely avoid case sensitivity. Suggestions are welcome. Thanks

[2021-07-09 21:44] #9 closed

[2021-07-16 03:18] Efreak opened #26 "[Feature] batch uninstall"
It would be nice to have an option to batch uninstall apps. I've got an app that does this, but that's *all* it does and I'm trying to clean up the number of extra apps I've got installed.
- Basically just send a group of installation requests all at once to ease uninstalling plugins like Tachiyomi extensions or keyboard languages.
- A better implementation would only send two requests at a time,

[2021-07-16 03:20] Efreak opened #27 "[Enhancement] keep list in memory"
When searching the package list, it appears to be fetching the list again before applying the filter; it would be nice if the full list was kept in memory, so searching could be instant. The same goes for switching between theAll/System/User tabs at the top.

[2021-07-16 03:24] Efreak opened #28 "[Enhancement] app name at top of app view"
Currently in the single app view, the name/icon of the current app is only shown in the App Info tab. Please show it above the tab bar on the other tabs as well, or at the bottom; if I've switched out of the app to look at data from another app, it would be nice to be able to see which app I'm looking at directly from the recent view, without having to open the app and switch back to the app info

[2021-07-16 03:27] Efreak commented on #8
Actually, moving disabled packages to the bottom would be better than the top, as disabled packages are usually more likely to be unwanted OEM crap.

[2021-07-17 01:01] Pantyhose-X commented on #22
hi @sunilpaulmathew
Batch Options  Select all functions
![Screenshot_20210717-083601](https://user-images.githubusercontent.com/42504385/126020719-1106e97c-1203-4285-b7c9-03f7fa4ac18f.jpg)

[2021-07-18 12:29] sunilpaulmathew commented on #22
Have you checked the button next to the "Search" menu?

[2021-07-18 12:39] sunilpaulmathew commented on #26
@Efreak
I don't know it is really possible without root access. However, I would like to have a look at this issue, especially, the second point you mentioned. Btw, sorry for the slight delay in my reply.

[2021-07-18 12:43] sunilpaulmathew commented on #27
You;re right. At this moment, whenever user switch between options, Package Manager will try to re-acquire the package details again (same thing happened while searching as well). Infact, app doesn't save anything to memory. The main issue is, even we save everything in memory, loading applications will take lot of time especially on devices with a lot of applications installed. It is because UI n

[2021-07-18 12:45] sunilpaulmathew commented on #28
@Efreak
I'll do it, unless it makes some serious UI samage.

[2021-07-18 12:47] sunilpaulmathew commented on #8
Although it is a good idea and achievable without many huddles, I seriously doubt that it will make the main UI loading much slower.

[2021-07-18 17:00] Efreak commented on #26
There's an open source app called [Batch Uninstaller](https://github.com/sarbajitsaha/Batch-Uninstaller) that does the most basic of what I'm requesting, if that helps. Implementing that *should* be trivial, I think, though it would be nice to be able to interrupt it, as mentioned.

You don't owe me anything, and I'm happy you're even considering my requests :+1:

[2021-07-18 17:13] Efreak commented on #27
I know it's possible, but might not be worth the bother. Some apps (AFWall+) have an option to skip loading the icons in a list of apps; this certainly speeds things up. I'm not an Android/Java developer, but [this] (https://www.vogella.com/tutorials/AndroidListView/article.html#adapterperformance) might also help, possibly?

[2021-07-19 00:37] Pantyhose-X commented on #22
Checked no button
Android 8.0

[2021-07-19 05:34] sunilpaulmathew commented on #22
@Pantyhose-X
On v4.8. Btw, I'm moving that switch to the "Batch Options" card on bottom on next version.
![Screenshot_20210719-073211](https://user-images.githubusercontent.com/15515387/126107923-4740845b-3585-447d-a403-0087bc08f64d.jpg)

[2021-07-19 05:47] sunilpaulmathew commented on #26
@Efreak
So, I managed to do it. If you like to have a look on it, please try this [APK](https://www.dropbox.com/s/rvi05lbi7yeya2i/com.smartpack.packagemanager.apk?dl=0). Thanks
**Limitation**: The user needs to approve each uninstallation event.

[2021-07-20 01:07] Pantyhose-X commented on #22
![2](https://user-images.githubusercontent.com/42504385/126246909-515038de-665c-442d-b4ea-f87aa95d0984.jpg)
![1](https://user-images.githubusercontent.com/42504385/126246916-decfd57c-7df8-4518-bb52-9ebd7e9fcd26.jpg)
no button

[2021-07-20 05:27] sunilpaulmathew commented on #22
@Pantyhose-X
Because you're clicking the ഇരോൺ button :)
![Screenshot_20210720-072545](https://user-images.githubusercontent.com/15515387/126266560-7c32e12b-c5b6-4007-a313-ccc09069f7aa.jpg)

[2021-07-20 14:37] Pantyhose-X commented on #22
l click the button and nothing happens

[2021-07-20 15:49] Aga-C opened #29 "[Improvement] Keep apps in the batch list while searching"
Hi,

It would be useful to keep selected apps in the batch list while searching. Currently, when I add any app to the batch list and start searching for another, the app is no longer in the batch list. Because of this, every time I want to export more than one app, I have to manually find them in all apps list.

Thanks!

[2021-07-20 19:22] sunilpaulmathew commented on #29
This is a little more complicated case to deal with it, as per the current setup. So, I'll think about it in the future. Thanks for the suggestion.

[2021-07-22 20:42] sunilpaulmathew commented on #26
I'm closing this issue since it is already addressed in v4.9. Feel free to reopen this issue if you're not satisfied.

[2021-07-22 20:42] #26 closed

[2021-07-22 20:43] sunilpaulmathew commented on #24
I'm closing this issue since it is already addressed in a recent update. Feel free to reopen this issue if you're not satisfied.

[2021-07-22 20:43] #24 closed

[2021-07-22 20:43] sunilpaulmathew commented on #21
I'm closing this issue since it is already addressed in a recent update. Feel free to reopen this issue if you're not satisfied.

[2021-07-22 20:43] #21 closed

[2021-07-22 20:46] sunilpaulmathew commented on #18
I'm closing this issue since it is already addressed in a recent update. Feel free to reopen this issue if you're not satisfied.

[2021-07-22 20:46] #18 closed

[2021-07-22 20:46] sunilpaulmathew commented on #28
I'm closing this issue since it is already addressed in a recent update. Feel free to reopen this issue if you're not satisfied.

[2021-07-22 20:46] #28 closed

[2021-07-29 18:21] Aga-C opened #30 "Translatable "share" string should not be shared between header and a button"
Hi,

I've noticed that in the app you're reusing the translatable string "share" between the header of the dialog and an action button (check screenshot below). It sounds good in English, but it's not the case in other languages.

![obraz](https://user-images.githubusercontent.com/85929121/127544990-57ce0eea-747c-4aa1-8397-4dbcbe9421ef.png)

In this case, the wrong text in the header "Udostępnij [

[2021-07-29 18:30] sunilpaulmathew commented on #30
@Aga-C
Fully agree with your comment. I'll look for a solution as you suggested, although it will make headaches for translators. Thank you.

[2021-07-30 07:02] Aga-C commented on #30
@sunilpaulmathew I've seen your commit and I think you've changed other text than I mentioned 😅 I meant to separate the header title to not share the same string with a button.
![image](https://user-images.githubusercontent.com/85929121/127613341-7cfa2ba5-1908-4855-af98-0705ae5e7440.png)

However, the change is good, because now that message can also be better translated 👍

Thanks!

[2021-07-30 08:13] sunilpaulmathew commented on #30
@Aga-C
Infact, I forgot to update the title. I'm planning to simply show the exported app name there, so that it will be like the attached image. Thanks again.
![Screenshot_20210730-101209](https://user-images.githubusercontent.com/15515387/127622955-8349cc8c-4bea-44fc-b155-578c34754c8a.jpg)

[2021-08-09 12:37] Aga-C commented on #30
Hi. Can you add the new string `export_apk_summary` to POEditor?

[2021-08-09 12:42] sunilpaulmathew commented on #30
Sure, will be done this evening or tomorrow. No access to computer now. Thank You

[2021-08-10 06:01] sunilpaulmathew commented on #30
It is done!

[2021-08-10 06:02] #30 closed

[2021-08-13 17:45] esdreesh opened #33 "Similar project help"
Take a look on this similar project and help the author to solve a storage access bug.

APK Editor Classic (6,1 MB)
https://appteka.store/app/516r39756

Thanks

[2021-08-13 21:18] sunilpaulmathew commented on #33
@esdreesh
I don't think, I have anything to do with it.

[2021-08-13 21:18] #33 closed

[2021-08-30 10:19] shuvashish76 opened #34 "[Bug Report] Crashes on app Split view"
**Crash log**

FATAL EXCEPTION: main
Process: com.smartpack.packagemanager, PID: 21103
java.lang.IllegalStateException: Fragment v0{cc7d226 (adc5e4d1-f42d-416b-889c-e0290278ffe1)} not attached to Activity
	at androidx.fragment.app.Fragment.W(:1)
	at b.c.a.c.w.onMenuItemClick(:6)
	at a.b.h.k0.b(Unknown Source:6)
	at a.b.g.i.g.e(Unknown Source:4)
	at a.b.g.i.g.s(:1)
	at a.b.g.i.k.onItemClick(:4)
	at

[2021-08-30 16:40] sunilpaulmathew commented on #34
@shuvashish76
Thanks for raising this issue. As per the comment from the Material Files developers, I expected to reproduce the same here. Surprisingly, it won't happen on my phone, running Android 11 Lineage OS. What about your device configuration. I also have no idea to deal with it at this moment. So, I'll keep it open.

[2021-08-30 21:40] shuvashish76 commented on #34
**Device info**
App version: 4.9 (F-droid)
Android release version: 8.1.0
Device model: Lenovo Tab4 8plus (TB-8704X)

[2021-09-01 04:09] jaswinder77 opened #36 "Option to set filename of exported apk file as either App name or package name."
There could be an option in settings to set filename of exported apk file as either App name or package name.

[2021-09-01 04:15] jaswinder77 opened #37 "New Option: Share App Link(s)"
There can be a new option added to share > app link which will share

[2021-09-01 04:27] jaswinder77 opened #38 "Improve Uninstall: support restoring system apps to factory versions"

[2021-09-01 20:15] jaswinder77 opened #39 "UI related to "Batch Options" can be improved"
A checkbox beside the  "Batch Options" (as it currently exists) may create confusion rather than help users.

Rather than clicking on "Batch Options" most users are likely to click on checkbox  without any intention to select all the apps, and would most likely mistake "Batch Options" as just a label to the checkbox rather than a menu of more commands.

Rather than a checkbox there, what could be

[2021-09-07 10:46] Valdnet opened #40 "Unable to select an installation file"
Steps:

1. Select "Install Split APKs".
2. Select the directory with the installers in XAPK format.

When you try to install an XAPK installation package, you do not see the XAPK formatted installers in the in-built file picker.

Apps:
Android 10
Package Manager v5.1

[2021-09-07 11:29] sunilpaulmathew commented on #40
@Valdnet
I am convinced that supporting different file manager apps are literally impossible. That's why implemented our own file picker for ap. Can you please try with the in-built file picker of the app? There is an option on the Settings page to enable it.
Alternately, try a supporter (tested by me) file manager app, like Material Files (still, a lesser efficient than in-built file picker).
Can

[2021-09-07 11:40] Valdnet commented on #40
@sunilpaulmathew Attempting to install XAPK was made with the built-in file selector.

Yes. It's on.

[2021-09-07 12:01] Valdnet opened #41 "Double running the application"
Steps:

1. Put your smartphone to sleep.
2. Wake up the smartphone.
3. Launch the application.

The application starts twice despite tapping the icon once.
This happens until we choose a function from the application, e.g. Settings.

Apps:
Android 10
Package Manager v5.1

[2021-09-07 12:06] sunilpaulmathew commented on #40
Sorry for misunderstand the first comment.
In that case, there are something seriously wrong somewhere? Just for the clarification, are you sure that the file is really "xapk"? Also, I doubt the issue will affect other formats (apkm & apks) as well. It will be great if you could try some of them and update the results.

[2021-09-07 12:08] sunilpaulmathew commented on #41
That is really really strange. May I ask you to show me a screen record to get more idea? Thanks.

[2021-09-07 12:15] Valdnet commented on #40
Yes, I'm sure the installers in XAPK format are in the given directory.

Screenshot from the built-in file picker:
![obraz](https://user-images.githubusercontent.com/47037905/132342393-58c9fdc1-a7aa-4f6a-a82e-fdd78a36b8d3.png)
Screenshot from another application:
![obraz](https://user-images.githubusercontent.com/47037905/132342203-b6c51bc5-6656-44f0-a270-17caf7bb8c39.png)

[2021-09-07 12:27] Valdnet commented on #41
I sent the recording to you by email 😉.

[2021-09-07 12:36] Valdnet commented on #40
@sunilpaulmathew I will add that I have another XAPK installer installed. Maybe this something will help you solve the problem.

[2021-09-07 12:38] sunilpaulmathew commented on #41
Okay, thanks for the message, I found your email which is ended up in my spam folder :)
The issue seems to related with app themes. I guess your phone is in Light Mode, but the app theme is set as Dark? I also noticed that one time UI refreshing when the app theme is different to that of system theme. You can check it by setting system wide dark them (in phone) or auto dark/light mode (in app). I'

[2021-09-07 12:50] sunilpaulmathew commented on #40
Which one? Is that working? If it is also opensource, it will be helpful. Btw, out of curiosity, have you tried with the device file manager (material files etc) after disabling the switch mentioned in my first comment?

[2021-09-07 13:18] Valdnet commented on #40
This is the "XAPK Installer" application.

Yes. I tried. The XAPK file is seen, but "Package Manager" cannot be selected as the application to install.

[2021-09-07 13:26] Valdnet commented on #40
After selecting by another file manager, I get the message: `Please select a file with .apk / .aks / .apkm / .xapk / .extension.`

[2021-09-07 13:30] sunilpaulmathew commented on #40
should be because, my app failed to get proper file path from the external file manager.

[2021-09-07 13:34] Valdnet commented on #41
After setting a light theme in the application (used in the system) it now starts correctly 😉.

[2021-09-08 06:56] Valdnet commented on #40
@sunilpaulmathew I found the cause of the issue.

If an installation file contains a space in its name, the in-built file picker does not see it e.g: `file name.xapk`.
This was confusing to XAPK because these files had a space in their name.
Generally, all files with a space in their name are not visible to the in-built file picker.

[2021-09-08 07:06] Valdnet opened #42 "Search"
In the search window that appears, the text "Search" and a flashing "pipe" appear, overlapping each other. It does not look aesthetically pleasing.

![obraz](https://user-images.githubusercontent.com/47037905/132462436-60b8c814-5bfb-434f-a627-705918455b16.png)

The text string should be gray and at the beginning of the search window and the "pipe" sign should appear at the beginning of the search

[2021-09-08 07:16] Valdnet opened #43 "No permission for installation"
Steps:

1. Disable "Allow Application Installation" permissions.
2. Select the installation file to be installed.
3. Skip granting permissions to install from unknown sources.

If the application is not authorized to install from unknown sources, an information message about granting these permissions appears during installation. If you skip this step and do not grant permissions, the application

[2021-09-08 07:44] Valdnet opened #44 "Navigation in the in-built file picker"
Steps:

1. Create a subdirectory in the directory.
2. Open the subdirectory with in-built file picker.
3. Go back to the directory by navigating the in-built file picker arrow at the top.

The window immediately returns to the main application window.
A directory window with a subdirectory should appear.

Apps:
Android 10
Package Manager v5.1

[2021-09-08 07:49] Valdnet commented on #39
The current function looks a bit strange 😉.

[2021-09-08 09:23] sunilpaulmathew commented on #40
That was a great input. Honesty, I do not even think about that situation while coding the file picker. Let me think how to manage it.
Big Thanks

[2021-09-08 09:29] sunilpaulmathew commented on #43
@Valdnet
I am already in a brainstorming thinking process to make that part more clearer. What do you think about show "Allow from unknown sources" screen, if the permission is already granted, before initiating the installation screen? Any other idea? Please let me know. Thanks a lot :)

[2021-09-08 09:37] sunilpaulmathew commented on #44
@Valdnet
In fact, that was the intended behavior while coding the file picker. That is,
1. The normal "Back" action (navigation key or whatever) will make the app to go to last screen.
2. The Back arrow closes the file picker from anywhere.

Is that confusing?

[2021-09-08 09:38] Valdnet commented on #43
Rather:
"if the **not** permission is still granted, before initiating the installation screen"

I think it's a good idea 😉.

[2021-09-08 09:40] sunilpaulmathew commented on #39
@jaswinder77  @Valdnet
What about replacing the check box with an additional menu "Select All" on clicking the "Batch Options" button?

[2021-09-08 09:42] sunilpaulmathew commented on #43
Btw, you're spending a lot of time to review each and every bit of my app. Really appreciable job. Thanks a lot

[2021-09-08 09:47] Valdnet commented on #44
I think in this case, if there is no side menu for the application, it may stay so that the user can quickly return to the main application window.
In general, the applications have a side menu, and the arrow returns to the previous window that was visible.

Have you thought about adding a navigation side menu?

[2021-09-08 09:54] sunilpaulmathew commented on #44
Nope, no plans to include side menu with file picker. I want to make it so simple. An alternate option is to repurpose the action of back menu with the most expected one, and added a cancel button on the bottom (or a close button on the top right side).

[2021-09-08 09:56] Valdnet commented on #43
I test a lot of applications manually that I like and I know that they can be even better after fixing the bugs and improving the appearance. This is the case with your application. However, sometimes I am demanding 😉.

[2021-09-08 09:59] Valdnet commented on #44
I was thinking of a side menu for the entire app, not just for file picker. In such a menu, you can put info about the application, settings, etc.

[2021-09-08 10:04] sunilpaulmathew commented on #44
Ahh, you mean a navigation drawer. Which is my least preference. I'm a big fan of apps with bottom navigation or tab layouts (e.g, the package details view in this app).

[2021-09-08 12:19] Valdnet opened #46 "Installation files icons"
Some installation file icons are not displayed for all files in the in-built file picker:

![obraz](https://user-images.githubusercontent.com/47037905/132507275-cee9d4b8-e026-47a6-b1f2-c59c8153f890.png)

For comparison, here's a screenshot from another application:

![obraz](https://user-images.githubusercontent.com/47037905/132507884-e86dda04-68a7-44de-ad54-84219227e0a6.png)

This may be due to t

[2021-09-08 12:28] Valdnet opened #47 "Setting default directory"
A request to add a new function in the application settings that could select and set the default directory for in-built file picker.

Justification:
We often keep the installation files in one directory with subdirectories, to which constant selection is laborious and inconvenient for the user.

[2021-09-08 14:06] sunilpaulmathew commented on #46
But, I think its not because of the resolution, but the File picker working hard (and eventually failed) to load the proper icon for some files. Fortunately, it is not affecting the main functionality. I'm adding an enhancement tag to this issue with the hope to solve it in future.

[2021-09-08 16:01] sunilpaulmathew commented on #39
@jaswinder77  @Valdnet
Okay, what do you think about placing a "**Select All**" menu (please see screenshot attached below) in the **Batch Options** card, instead of the misleading checkbox we presently have?

![Screenshot_1631116206](https://user-images.githubusercontent.com/15515387/132543931-ac6cc42d-a881-47e6-bc06-f44e74d5013d.png)

[2021-09-08 17:35] Valdnet commented on #39
In my opinion it is good. It looks better right away 👍.

[2021-09-08 17:45] sunilpaulmathew commented on #42
@Valdnet Probably, you will like this too?
![Screenshot_1631123114](https://user-images.githubusercontent.com/15515387/132558776-0e54af5b-a009-4452-8138-d5659c48617b.png)

[2021-09-08 17:53] Valdnet commented on #42
Of course 👍.

[2021-09-09 18:28] bd94 opened #48 "Feature Request: Batch File TXT Export List"
Would like to request a pretty straight forward feature.

Since adb is able to remove system packages. It would be nice and helpful to a handful if under the "batch options" there was an option to export a txt list of the package ids.

From there it would be extremely easy to bulk disable or uninstall packages with some search and replace on a text editor then push through adb.

[2021-09-09 18:46] sunilpaulmathew commented on #48
@bd94
I've actually implemented a feature (source not updated yet), which exports a significant amount of details (including Package Name) as a json file. Do you think it will satisfy this issue?
![Screenshot_1631212752](https://user-images.githubusercontent.com/15515387/132743917-b337322b-858d-4fa2-8db7-f7c1bad0245d.png)
Here is an  example json
[code]

[2021-09-09 19:53] bd94 commented on #48
That looks pretty awesome. Not too grand with JSONs though.

I did a little test and with `cat test.json | grep "Package Name" >> test.txt` and got a working filtered result, needs a bit of cleanup, but that would work just fine for myself.

[2021-09-09 23:45] #42 closed

[2021-09-09 23:48] sunilpaulmathew commented on #40
@Valdnet
This issue is fixed with v5.2. Please feel free to re-open it if you still find issues. Thanks.

[2021-09-09 23:48] #40 closed

[2021-09-09 23:50] sunilpaulmathew commented on #48
This is addressed in v5.2. So, closing this issue.

[2021-09-09 23:50] #48 closed

[2021-09-09 23:52] sunilpaulmathew commented on #47
@Valdnet This is done, but in a different style. App will now remember the last directory and reopen directly when you re-launch File Picker.  Closing this issue now. But, please reopen if you're not satisfied.

[2021-09-09 23:52] #47 closed

[2021-09-09 23:53] sunilpaulmathew commented on #41
@Valdnet I hope this issue also fixed in v5.2. So, closing this issue as well.

[2021-09-09 23:53] #41 closed

[2021-09-09 23:54] sunilpaulmathew commented on #39
So, this will be addressed in v5.2. So, closing this issue. Feel free to reopen if you guys are not satisfied with it. Thanks.

[2021-09-09 23:54] #39 closed

[2021-09-09 23:55] sunilpaulmathew commented on #37
This one is too fixed (at least, partially) in v5.2.

[2021-09-09 23:58] sunilpaulmathew commented on #43
@Valdnet
I did some work in v5.2 to address this issue. App will now allow closing if the user refused to grant permission, though the progress bar still runs like before. Definitely, more work is needed. So, I'll leave this issue open.

[2021-09-10 05:30] Aga-C commented on #48
@sunilpaulmathew Can you add "Export Details" string to POEditor? 🙂

[2021-09-10 05:35] sunilpaulmathew commented on #48
Thanks for reminding me about it. I'm getting old and often forgetting things. Anyway, just uploaded it.

[2021-09-10 07:51] Valdnet commented on #43
I will gladly test the new version, but I have to wait for the new version of the application in F-Droid to be released, because you do not include the finished installation file in the releases, unless you can do it. If not, then you can send me a ready APK by email, it will speed up testing 😉.
Thank you for your great contribution and quick fixes to the application 👍.

[2021-09-10 08:05] sunilpaulmathew commented on #43
In fact, I stopped building APKs a long ago (after FDroid release). However,  you can try the xapk file liked, which directly exported from my app (play store version).
https://www.dropbox.com/s/nve51vqlga14xma/com.smartpack.packagemanager.apkm?dl=0

[2021-09-10 08:56] Valdnet commented on #43
And what will I install it now :flushed:?

Through your application I can't, because there is a conflict, but XAPK Installer does not support APKM :grin:.

[2021-09-10 09:01] sunilpaulmathew commented on #43
In that case, I'll built an APK for you later today.

[2021-09-10 11:16] sunilpaulmathew commented on #43
This [APK ](https://www.dropbox.com/s/rvi05lbi7yeya2i/com.smartpack.packagemanager.apk?dl=0)is for you.

[2021-09-10 11:45] Valdnet opened #49 "Directory icons background for a light theme"
The background of the directory icons in the in-built file picker for a light theme has a dark background. They are probably from the dark theme.

![obraz](https://user-images.githubusercontent.com/47037905/132846719-178ca907-6de6-44d7-a6dc-4229883c8981.png)

Apps:
Android 10
Package Manager v5.2

[2021-09-10 11:58] Valdnet commented on #49
After making this change in commit xxx got even more interesting 😁.
For users who rarely use the system arrow at the bottom of their smartphone, they may be a bit surprised that they can't go back or enter the main directory.
I suggest adding a directory path at the top of the application so that you can select a directory from the given path.

Something like that:

![obraz](https://user-images.gi

[2021-09-10 11:59] Valdnet commented on #44
After making this change in commit https://github.com/SmartPack/PackageManager/commit/7784f1f0ca9f41c1d5cad63e1a62c131fb64c77c got even more interesting 😁.
For users who rarely use the system arrow at the bottom of their smartphone, they may be a bit surprised that they can't go back or enter the main directory.
I suggest adding a directory path at the top of the application so that you can select

[2021-09-10 12:03] sunilpaulmathew commented on #44
Okay, this is a good idea, but need some work. But, I'll look for it. Thanks again.

[2021-09-10 12:05] Valdnet opened #50 "Font size for "ALL""
The font size for "ALL" is larger than the others. It may not be noticeable to the English language, but it is very noticeable to Polish. Is it intentional?

![obraz](https://user-images.githubusercontent.com/47037905/132850608-4639dde1-b322-4dd9-bbfd-064aaebc82c1.png)

Apps:
Android 10
Package Manager v5.2

[2021-09-10 12:07] sunilpaulmathew commented on #49
Not really. I actually [hardcoded](https://github.com/SmartPack/PackageManager/blob/7b0bbc712adf734f0c0ef97db9d3d8547cdffa64/app/src/main/res/drawable/ic_background_circle.xml#L6) black background. Otherwise, I feel it look weird by considering the huge transparent area inside the folder icon.

[2021-09-10 12:09] Valdnet commented on #49
Or maybe a gray background? Or something more unobtrusive. Overall, it looks a bit unsightly 😉.

[2021-09-10 12:10] sunilpaulmathew commented on #50
That is super strange, as we are using a standard [TabLayout](https://github.com/SmartPack/PackageManager/blob/7b0bbc712adf734f0c0ef97db9d3d8547cdffa64/app/src/main/res/layout/fragment_packagetasks.xml#L85) (even without specifying text size). I really have no idea to deal with it atm.

[2021-09-10 12:11] sunilpaulmathew commented on #49
Thanks for the idea. I'll surely have a look on that possibility.

[2021-09-10 12:15] Valdnet opened #51 "Change text string "Install Split APKs""
The text string "Install Split APKs" is somewhat confusing to the user. If the user wants to install the APK installer, he doesn't know what to choose from the menu because the text string points to "Split APKs".

https://github.com/SmartPack/PackageManager/blob/7b0bbc712adf734f0c0ef97db9d3d8547cdffa64/app/src/main/res/values/strings.xml#L79

Apps:
Android 10
Package Manager v5.2

[2021-09-10 12:17] Valdnet commented on #50
You can definitely handle it 😉.

[2021-09-10 12:36] sunilpaulmathew commented on #51
Are you suggesting to add separate menu for APKs/Split APKs/App Bundles?
An alternate way is to show a detailed information screen on the first launch of that feature. Also, we may simplify the title into "**Installer**" or something similar.

[2021-09-10 12:45] Valdnet commented on #51
Very good idea 👍.

[2021-09-10 13:21] Valdnet commented on #46
@sunilpaulmathew The issue still exists with the display of installer icons.

[2021-09-10 13:27] Aga-C commented on #50
On my OnePlus 9 Pro, it looks ok:
![obraz](https://user-images.githubusercontent.com/85929121/132859549-07f6e99c-74dd-4aae-a502-8dc0b89c70c1.png)

However, on OnePlus 2 the last string is a bit smaller:
![obraz](https://user-images.githubusercontent.com/85929121/132860316-1d03202e-bd86-42f8-aef5-03cda5c64e7c.png)

It looks like the issue is associated with screen resolution.

[2021-09-10 13:34] sunilpaulmathew commented on #46
Isn't it only on some split APK's, right? Some of them genuinely do not have an icon. How about normal APK's (looks fine here)?

[2021-09-10 13:38] Valdnet commented on #50
I also have a smaller font for the active window. I thought this was intentional.

[2021-09-10 13:43] Valdnet commented on #46
Not. These are APK files.

[2021-09-10 13:54] sunilpaulmathew commented on #50
If so, that (the smaller font for active tab) could be the default behaviour of tab layout (since we are using the default).

[2021-09-10 13:58] sunilpaulmathew commented on #46
Seems perfectly fine here.
![Screenshot_20210910-155548_Package_Manager](https://user-images.githubusercontent.com/15515387/132864786-9898aa38-a8ea-48cb-9fba-9cdcc1e20193.png)
![Screenshot_20210910-155555_Package_Manager](https://user-images.githubusercontent.com/15515387/132864827-fb5ab2dd-7a50-4b27-a69b-a30c0e873b26.png)
![Screenshot_20210910-155607_Package_Manager](https://user-images.githubuse

[2021-09-10 14:02] Valdnet commented on #46
It's fine in your screenshots.
Try on these [APK](https://github.com/nextcloud/android/releases).

[2021-09-10 14:11] sunilpaulmathew commented on #46
Funny, it still seems fine.

![Screenshot_20210910-161041_Package_Manager](https://user-images.githubusercontent.com/15515387/132867012-4a4edb4f-f2ff-4f31-a036-aee2cab6810d.png)

[2021-09-10 15:03] Valdnet commented on #46
Ok. The icon of this file is also displayed correctly for me. Can you try this file yet [APK] (https://github.com/nextcloud/android/releases?after=dev-20200410).

[2021-09-10 15:09] sunilpaulmathew commented on #46
Same story
![Screenshot_20210910-170842_Package_Manager](https://user-images.githubusercontent.com/15515387/132875854-3c5d2d08-41c7-4bd3-aa4f-30312dc7594b.png)

[2021-09-10 16:58] Valdnet commented on #46
Hmmm … And I don't have the correct installation file icon. We still don't know where the issue is.

[2021-09-10 17:52] Valdnet commented on #46
Here is the screenshot:

![obraz](https://user-images.githubusercontent.com/47037905/132896477-cd4ec6f9-a2b6-480a-af52-5883dce1ad9a.png)

[2021-09-10 18:15] Valdnet commented on #46
And here is a screenshot for another application:

![obraz](https://user-images.githubusercontent.com/47037905/132898946-044d80b3-ec91-4441-9997-d61ca9843239.png)

[2021-09-10 21:13] sunilpaulmathew commented on #49
What about this color in light mode?
![Screenshot_1631308361](https://user-images.githubusercontent.com/15515387/132918296-a3e461c7-9a56-429e-9b6f-23ca56e51ce6.png)

[2021-09-11 10:40] Valdnet commented on #49
However, I suggest changing to a white background.
Example:

![obraz](https://user-images.githubusercontent.com/47037905/132945045-476369bd-216f-46ba-bfeb-7eadac9eaad7.png)

[2021-09-12 21:07] sunilpaulmathew commented on #51
This is something in my mind. Suggestions are most welcome.
![Screenshot_1631480682](https://user-images.githubusercontent.com/15515387/133002791-0f3d0bbb-ad90-4a7f-a1f9-a120ea973987.png)

[2021-09-13 06:34] Aga-C commented on #51
@sunilpaulmathew For me, it looks great 👍 But I noticed that it is not possible to install an individual APK file, only split APKs and bundles. For APKs, it always takes the whole directory.

Also, when you add new strings for translation, it would be nice if you wait a while before releasing a new version 🙂

[2021-09-13 07:21] Valdnet commented on #51
It turns out that there is something wrong with the icons of the installation files only for me.

I also had a problem with this with developers, but we sorted it out somehow.

[2021-09-13 07:22] sunilpaulmathew commented on #51
Will be done.

[2021-09-13 07:33] Valdnet commented on #51
@sunilpaulmathew Looks very good. We will see how it will look in general in the finished application and in functionality for the user 😉.

[2021-09-13 07:37] sunilpaulmathew commented on #51
I'll create a test build hopefully today evening. Also, I'll try to make it official with in next two days so that I can go for a vacation :)
Btw, it seems like we are living in nearby?

[2021-09-13 08:09] Valdnet commented on #51
Cool. I will have something to test 😉.

This is interesting. You live in Poland?

[2021-09-13 08:18] sunilpaulmathew commented on #51
Nope, but in Czech.

[2021-09-13 08:36] Valdnet commented on #51
You live close to Poland 😉. I thought you live in India.

[2021-09-13 12:45] sunilpaulmathew commented on #51
Btw, if you guys are active in Telegram, feel free to join (if you haven't already) our telegram group at https://t.me/smartpack_kmanager

[2021-09-13 13:54] Valdnet opened #52 "Translation into PL"
@Aga-C This text string is not in the PL translation. Is he in POEditor?

https://github.com/SmartPack/PackageManager/blob/7b0bbc712adf734f0c0ef97db9d3d8547cdffa64/app/src/main/res/values/strings.xml#L112

It is still in English in the application, and it was probably added a long time ago.

[2021-09-13 13:57] Valdnet commented on #52
Okay. I can see that it was added recently.
I close the issue.

[2021-09-13 13:57] #52 closed

[2021-09-13 20:02] sunilpaulmathew commented on #51
@Valdnet @Aga-C
So, [here](https://www.dropbox.com/s/rvi05lbi7yeya2i/com.smartpack.packagemanager.apk?dl=0) is a test build, if you like to test the new changes.

Btw, before you wonder, I completely removed using external file picker from the app, as it has become a big headache later. I hope the in-built file picker is enough and fine (of course, I'll try to implement the changes suggested by @V

[2021-09-13 20:22] Valdnet commented on #51
@sunilpaulmathew Very good in my opinion 👍. The in-built file picker is sufficient for this application.

I start testing your application as soon as I finish testing another one 😉.

[2021-09-13 21:05] Valdnet commented on #46
Next new APK installer file icon. This time it is as an all blue background.

![obraz](https://user-images.githubusercontent.com/47037905/133156053-ba02c1b3-5e96-440f-9488-fb5c0b49a5c2.png)

[2021-09-13 21:16] Valdnet opened #53 "Application shutdown setting"
I propose to add a setting in the application options for enabling or disabling confirmation when disabling the application. If you decide to receive a confirmation message that the application is disabled, you should add the option to disable it in the application settings, so that the user can decide for himself how the application is closed. Whether with or without confirmation. Sometimes doubl

[2021-09-13 22:21] Aga-C opened #54 "Settings visual improvements"
Hi,

In the test build, the sections names should look a bit different from the settings. I think that now with section names, it would look better if you'd:
- use smaller font for the section names, and maybe they could have another color
- remove the horizontal lines between the settings, and between a section name and the first setting (I would only leave a line after the last setting in a sect

[2021-09-14 05:56] sunilpaulmathew commented on #54
@Aga-C That is a great suggestion I really like to work on.

[2021-09-14 08:11] sunilpaulmathew commented on #46
This is really strange.
By the way, you're not alone on this (original) issue. While the APK icon loading was perfect on Android 11 (Lineage OS), it seems to have problems on Android 10 especially with APK's that are not installed.
![Screenshot_20210914-100653](https://user-images.githubusercontent.com/15515387/133220424-18ff8f05-a940-471b-8594-c5167994b2ec.jpg)

[2021-09-14 09:55] Valdnet commented on #46
Good thing you got the same issue. It will be easier for you to fix it 😉.

[2021-09-14 10:08] Valdnet commented on #54
@Aga-C Very good suggestions 👍.

@sunilpaulmathew I would also fix the icon for "Translation" because its color is inappropriate for a dark theme. It stands out too much. I would stick to the color of the themes. And for a light theme, the icon is half obscured by a black background.

[2021-09-14 10:28] sunilpaulmathew commented on #54
In fact, I leave it as such with an aim to get more attention from users. Also, it need some work to make it black/white as the respective drawable for that specific icon is different (got from an external website while others are from android studio).

[2021-09-14 10:38] Valdnet commented on #51
Notes for the test application version:

1. I think that if there is no other file manager to choose from, the message "Please Note" is unnecessary.

2. I would add an option in the application settings "Reset Messages" with the description "Again enables messages that have been disabled.". Because you don't always remember what it was about or you turn it off too quickly without reading it. This

[2021-09-14 10:45] sunilpaulmathew commented on #51
Is it still there? I thought I removed it already.

Let me see how to handle it.

Will be done.

Thanks a lot.

[2021-09-14 10:46] Valdnet commented on #54
But that doesn't fit in with the whole thing.

The icon needs to be processed anyway, because for a light theme it is obscured by a black background.

I suggest replacing this icon with an icon from the icon gallery that will match the given option. After all, it doesn't have to be an icon for the translation page. I would even suggest changing it 😉.

[2021-09-14 10:51] sunilpaulmathew commented on #54
Of course, but they are so kind to opensource community. Provided free translation for almost all of my application. Anyway, I'll look for an alternate solution.

[2021-09-14 10:59] Aga-C commented on #51
No, it's not there now.

[2021-09-14 11:00] Valdnet commented on #54
It is certainly enough that you mention them in the text string 😉.

[2021-09-14 11:09] Valdnet commented on #51
You're right. I turned off the message, and then I forgot if there was still this information. I made a description of issue from the screenshot above.
This confirms the problem with the exclusion of information that I talked about in point 2 :smile:.

[2021-09-14 12:29] sunilpaulmathew commented on #51
Okay guys, I'll work on these things as much as possible tonight and upload another test build + strings in POEditor for translation. I would like to release a new version tomorrow night or Thursday morning (then, I'll be on vacation for a week).

[2021-09-14 19:25] Valdnet opened #55 "Appearance of app windows"
I would propose to improve the appearance:

1. The initial application window that appears at the first launch.
2. Application window about granting permissions.
3. Application window about canceling installation of the installation file.
4. Application window that appears after the installation of the installation file.

They should be matched to the appearance of the entire application. Can chan

[2021-09-14 19:38] sunilpaulmathew commented on #54
I think this is good enough for now?
![Screenshot_1631648263](https://user-images.githubusercontent.com/15515387/133322697-f4a97b43-0c44-4573-ae92-55bfb5ab5c5a.png)

[2021-09-14 19:41] sunilpaulmathew commented on #55
You're perfectly right. But, I'll postponed this (post-vacation). :)

[2021-09-14 20:11] Aga-C commented on #54
Looks good 👍

[2021-09-14 20:29] sunilpaulmathew commented on #54
Done. Btw, any comments on this? Probably a better description.
![Screenshot_1631651328](https://user-images.githubusercontent.com/15515387/133329219-56a64ef4-0586-44bd-8758-3da51a87b067.png)

[2021-09-14 20:40] Aga-C commented on #54
For me, it's ok.

@Valdnet  What do you think?

[2021-09-14 20:55] sunilpaulmathew commented on #54
@Valdnet
Btw, this one too...
![Screenshot_1631652863](https://user-images.githubusercontent.com/15515387/133332512-99e1c41b-e6c2-4900-973e-3455f59a4516.png)

[2021-09-14 21:03] sunilpaulmathew commented on #55
@Valdnet Okay, I did this too. Is something similar missing?
![Screenshot_1631653256](https://user-images.githubusercontent.com/15515387/133333378-dad4add1-567d-4664-b409-9c82ed8a35d9.png)

[2021-09-14 21:20] sunilpaulmathew commented on #54
@Valdnet @Aga-C
[Here](https://www.dropbox.com/s/rvi05lbi7yeya2i/com.smartpack.packagemanager.apk?dl=0) is a test build when you have time. I guess almost everything is addressed (at least in an initial form). I shall upload the strings into POEditor after receiving your initial comments.  Btw, I should add a new section in credits for you two 😉

[2021-09-14 21:48] Aga-C commented on #54
Now, I've also noticed that the section name is "Others" - shouldn't it be "Other"? "Others" is referring to people.

[2021-09-14 22:02] sunilpaulmathew commented on #54
Thanks again & sorry for my ignorance again :)

[2021-09-15 06:29] sunilpaulmathew commented on #36
Almost done.
![Screenshot_1631687338](https://user-images.githubusercontent.com/15515387/133382003-bfefea35-5832-419e-ae17-50ea76e79399.png)

[2021-09-15 08:06] Valdnet commented on #54
@sunilpaulmathew It looks so much better now 👍.
I would only change the line thickness under the settings titles. It's a bit too fat. It's too conspicuous. Set the thickness to the same as it is for the line, e.g. in the "All" window 😉.

[2021-09-15 08:12] Valdnet commented on #55
@sunilpaulmathew I would give up on buttons. I would leave the text string alone.
Is the font bold? If so, I would try to set the font to normal. It's too conspicuous 😉.

Changes should be made for all messages that appear in the application from the first launch of the application.

[2021-09-15 08:15] Valdnet commented on #51
For me, the function works fine 👍.

[2021-09-15 08:18] Valdnet commented on #53
@sunilpaulmathew In the trial version, the added function of changing the shutdown works correctly 👍. Eventually, users will get rid of repeated clicking 😉.

[2021-09-15 08:23] sunilpaulmathew commented on #55
Only time (or more testing) can tell if some missing or not. Probably, something in the root  related tasks which I will check soon.

[2021-09-15 08:38] Valdnet commented on #55
Also remember about those windows mentioned above in issue 😉.

[2021-09-15 08:52] sunilpaulmathew commented on #55
Of course, but

What;' the problem here?

Btw, found one more.
![Screenshot_20210915-104735](https://user-images.githubusercontent.com/15515387/133402434-d5c31091-9b0e-4188-8536-aa19cb3ab852.jpg)

[2021-09-15 09:55] Valdnet commented on #55
It's about this window:

![obraz](https://user-images.githubusercontent.com/47037905/133320734-a7c01e25-c3fe-422f-b902-0129ec1d4b8d.png)

[2021-09-15 10:20] sunilpaulmathew commented on #55
I understand, but isn't it consistent with other screens (may be I'm blind).

[2021-09-15 10:36] Valdnet commented on #55
The point is, all the windows I mentioned look a little different than the rest of the windows in the app. I mean correct the appearance of text strings and the removal of the button. Its description is enough. It doesn't match the modern look.

[2021-09-15 10:43] sunilpaulmathew commented on #55
Yes, the text need to be adjusted (remove bold characters, adjust size, etc.) throughout the app. By the way, are you suggesting to remove blue card around the buttons on the bottom? Either way, I'm afraid it won't finish before the next update (planning tonight or tomorrow morning).

[2021-09-15 11:11] Valdnet commented on #55
Yes. I suggest removing the button. Just the text string alone will suffice.
Something like this:

![obraz](https://user-images.githubusercontent.com/47037905/133422895-f9be7db2-1a21-4d58-bc67-93a30aa83916.png)

Now button developers no longer use in applications.

We will wait 😉.

[2021-09-15 11:24] sunilpaulmathew commented on #55
In fact, its is not a button. It is a MaterialCardView wrapped around the text. I also do not like using buttons :)

[2021-09-15 18:57] #36 closed

[2021-09-15 19:05] sunilpaulmathew commented on #55
@Aga-C @Valdnet
Thanks a lot to both of you. I finally managed to submit a new version (v5.3) to Google Play and F-Droid. Because of your help, v5.3 should be much better (in UI & functionalities) than before. Since the F-Droid release usually takes days, [here is an APK](https://www.dropbox.com/s/rvi05lbi7yeya2i/com.smartpack.packagemanager.apk?dl=0) built exclusively for you people 😉 Also, I add

[2021-09-15 19:58] Valdnet commented on #51
I propose to change:

1. Normal font.
2. Remove the exclamation point in the text string `Do not show this again!`.

![obraz](https://user-images.githubusercontent.com/47037905/133500459-e0cfaa58-e351-4527-aeed-a25734ef8565.png)

[2021-09-15 20:01] Valdnet opened #56 "Change font in "Manifest" window"
I suggest changing the font to "Normal" in the "Manifest" window.

![obraz](https://user-images.githubusercontent.com/47037905/133501207-0687a603-baef-43b5-9309-e4157fe9d8ff.png)

[2021-09-15 20:38] sunilpaulmathew commented on #56
@Valdnet  Will be done after my vacation (I'll be back around 23). Now time to relax :)

[2021-09-16 05:50] Valdnet commented on #56
Of course. Rest after such hard work 😉.

Not yet, but I'll test it.

[2021-09-16 07:48] Valdnet commented on #56
I tested it. It looks nice 👍, I would only change the font to "Normal" for the export process 😉.

[2021-09-16 07:54] Valdnet commented on #54
Remember to reduce the line thickness to 1px in the application menu 😉.

[2021-09-16 08:02] Valdnet opened #57 "Remove exclamation marks"
Proposes to remove exclamation marks in all text strings. The application should not "scream". This may, in some situations, "scare" the user or discourage use.

[2021-09-16 08:16] sunilpaulmathew commented on #53
@Valdnet
Closing this issue since it is already addressed.

[2021-09-16 08:16] #53 closed

[2021-09-16 08:17] sunilpaulmathew commented on #57
@Valdnet
I can, but it might take a long time to apply the same for other translations. Btw, is it really "**scary**"?

[2021-09-16 08:19] sunilpaulmathew commented on #54
@Valdnet
If I forgot after the vacation, please please remind me again :)

[2021-09-16 08:22] Valdnet commented on #57
Exclamation marks are not used in applications. Only in exceptional circumstances, but really exceptional.

The translators can handle it 😉. And surely @Aga-C will deal with it quickly 😁.

[2021-09-16 08:32] sunilpaulmathew commented on #57
There are few more people actively involved in translations. I think I'm giving them a lot of headaches. Will do it after my vacation :)

[2021-09-20 06:37] jaswinder77 commented on #38
Support for uninstalling *updates* of system apps should be possible without adb as well even though adb command would be needed to uninstall system app itself. It may not be possible in some cases that I am not aware of but at least on my device Moto G8 Power Lite (Android 10), I have already tried several apps which can easily uninstall updates of system apps even though the "App Info" screen of

[2021-09-22 07:03] garawaa opened #58 "Please add support aab format"
New feature suggestion

[2021-09-22 18:47] sunilpaulmathew commented on #58
@garawaa
I doubt it is really possible. It probably needs to resign the APK file, which is clearly beyond the scope of this app. Do you know some other apps offering a similar feature?
Thanks

[2021-09-24 08:51] sunilpaulmathew commented on #57
@Valdnet @Aga-C
I'm back, but a bit tired after restless travel in Italy. I'll hopefully restart working in this weekend. How are you?

[2021-09-24 09:03] Aga-C commented on #57
👍

[2021-09-24 09:22] Valdnet commented on #57
@sunilpaulmathew Hi again :wave:. A bit of work testing another application 😁.

[2021-09-26 07:37] Aga-C opened #60 "Add search and sorting options in Exported Apps"
Hi,

As you have more and more applications exported, it becomes harder to find the one you are looking for. Because of that, it would be useful to add search and sorting options as it is in the main app view (of course with proper adjustments).

[2021-09-26 20:09] #57 closed

[2021-09-26 20:13] sunilpaulmathew commented on #60
@Aga-C
Already addressed this issue. So, closing. if you find its not enough after the next release, please feel free to re-open it.

[2021-09-26 20:13] #60 closed

[2021-09-26 20:40] Aga-C commented on #60
@sunilpaulmathew The search placeholder is missing. And I don't know the logic of how the sorting works. I can see Reverse Order option, but it's hard to tell what will be the result of it, when I don't know by what the list is sorted. Check following screenshots, I can't figure out what's the sorting here:

![image](https://user-images.githubusercontent.com/85929121/134823434-7d7c920c-d7d6-4e9a-8

[2021-09-27 05:08] sunilpaulmathew commented on #60
@Aga-C
There will be some small issues in sorting. Actually, the app considers the file name (not the app name or package name) of the exported app. I assumed that you saved some of them with package id (before I added a switch to change it) and then with real app names. I know its a little confusing, but I am convinced it is the best way. That's why I avoided using the term "Name" anywhere.

[2021-09-27 05:31] sunilpaulmathew commented on #57
@Valdnet Exclamation marks are completely removed. I hope the users won't scare anymore :)
![Screenshot_1632720582](https://user-images.githubusercontent.com/15515387/134850104-cc74cde1-93eb-4846-b103-939e15f48847.png)

[2021-09-27 06:43] Valdnet commented on #57
Cool. It gets better right away. Now the application is more user-friendly 😁.

[2021-09-27 07:07] sunilpaulmathew commented on #57
Ohh, I again forgot to upload original strings in POEditor. Will do in the evening so that @Aga-C and other people have a look.

[2021-09-28 06:07] sunilpaulmathew commented on #38
Re-opening this issue. I'll address this in the next update.

[2021-09-28 12:54] #38 closed

[2021-09-30 03:33] Efreak opened #61 "[Enhancement] shizuku support"
Shizuku allows easily [un]installing apps and using system apis without root. More information [here](https://shizuku.rikka.app/introduction.html). This would allow queuing installs/uninstalls to be run without user interaction.

[2021-09-30 07:58] sunilpaulmathew commented on #61
@Efreak Thanks, and I'll have a look (and reach a decision) on it later. I'll leave this issue open until then.

[2021-10-07 17:59] Valdnet commented on #54
@sunilpaulmathew And how, are you working on this issue?

BTW: If you had a moment, please help me translate this [Simply Translate Mobile](https://github.com/ManeraKai/simplytranslate_mobile) application into your mother tongue and into the languages you know.
Details for [translation](https://github.com/ManeraKai/simplytranslate_mobile#translation).
Thanks.

[2021-10-09 15:28] HonestAbe7 opened #62 "Sharing App Issues"
Clicking "More" inside an app then clicking to share it only sends an HTML file. How do I send the app itself? Thanks

[2021-10-09 15:49] sunilpaulmathew commented on #62
That is the intended action. We can't directly send APKs (due to permission related issues), without exporting them to a place where app has access (we can, but it will make issues for bigger APKs).

**Solution**: Click on the "Export" icon right down to "More". You'll see a "Share" option once the exporting is completed.

[2021-10-09 22:29] #54 closed

[2021-10-13 15:36] Aga-C commented on #60
@sunilpaulmathew I've updated to the newest version. Thanks for the search option - it was the most important feature for me.
I encountered that the exported apps are sorted alphabetically first by name, then by package name, what is fine. However, I still do not see a logic after selecting Reverse Order - it looks like it's completely random order. Also, Reverse Order is linked to the Reverse Ord

[2021-10-13 17:35] Aga-C commented on #60
They shouldn't be connected to each other, for me it's a separate case.

[2021-10-13 17:37] sunilpaulmathew commented on #60
Will be done before the next release.

[2021-10-13 20:59] Aga-C commented on #60
Similarly, as I can add an image, I'd like to add e.g. an audio recording or a video.

I thought about options while editing a note like bold, italic or changing font size.

[2021-10-14 00:10] HonestAbe7 opened #63 "Internet Data Usage"
Is there a reason why this app needs to use any data? I noticed this when checking my data usage and saw it did consume very little data.

[2021-10-14 00:27] HonestAbe7 commented on #62
Thank you for explaining this to me! 👍

[2021-10-15 01:00] HonestAbe7 opened #64 "Bug: Crashes When Clicking Yahoo! Mail App"
I did notice that when I tried to export Yahoo! Mail app, even before I got to exporting it, your app crashed. Just clicking on the app in the list seemed to crash this app. Just wanted to make you aware since you seem pretty good about responding to issues which I am thankful for.

[2021-10-15 23:05] #64 closed

[2021-10-18 07:11] Valdnet opened #65 "POEditor - no Polish language"
There is no Polish language in [POEditor](https://poeditor.com/join/project?hash=0CitpyI1Oc) 😬.

[2021-10-18 07:33] Valdnet commented on #65
Oh, I see 😉.

This setting has pros and cons.

Sometimes something needs to be corrected and it is not possible for another user to do so 😁.

[2021-10-18 08:08] #65 closed

[2021-10-28 11:30] #63 closed, assigned to sunilpaulmathew

[2021-10-31 06:12] Pantyhose-X opened #66 "[Feature] add SSH"
Use [SSH/sftp](https://en.wikipedia.org/wiki/SSH_File_Transfer_Protocol) Exported Apps to PC

[2021-10-31 08:55] sunilpaulmathew commented on #66
I have not much idea about this ATM. So, I added a **_help wanted_** tag to this issue. Thanks

[2021-11-18 01:11] HonestAbe7 opened #67 "Batch Export Not Working"
I noticed if I select 2 apps and try to batch export, nothing shows up in my main storage; no package_manager directory. But if I do it manually, it works. I noticed you updated the Google Play version but wasn't sure of this was addressed here for the F-Droid version.

[2021-11-18 08:15] sunilpaulmathew commented on #67
I just checked and find it's working. I need more details. Do you see a new page is opened and showing the details (such as "Exporting ...")? What do you mean by "do it manually"?
A possibility is, if you are on Android 9 + and do not grant "All Files Permission", the export path will be redirected to /sdcard/Android/data/com.smartpack.packagemanager/files

[2021-11-18 16:43] HonestAbe7 commented on #67
I meant manually by exporting one app at a time. I just tried to batch export 2 split APKs and still nothing showed up. I selected the 2 apps, hit batch on the bottom, it says it is done but no package_manager folder made. Is this a bug with 2 split APK files? Let me know if you would like the names of the apps to test this issue.

Nov 18, 2021 3:15:12 AM sp ***@***.***>:

[2021-11-18 21:44] HonestAbe7 commented on #67
Here are the links to the 2 apps I was trying to export in a batch. I don't know why, but if I export a lot at a time it does work.

1) https://play.google.com/store/apps/details?id=com.ihgyug.arcadium
Arcadium

2) https://play.google.com/store/apps/details?id=com.spicags.fill.one.line
Fill One Line

I gave you the links to these games so you can try it and see it really doesn't work for just thes

[2021-11-19 06:59] sunilpaulmathew commented on #67
Actually, exporting (alone or batch/ APK or Split APKs) are working fine in my phone as well as in emulators. I really don't know what is happening here. One last question? Are you rooted or non-rooted? Thanks

[2021-11-19 07:21] HonestAbe7 commented on #67
I am non-rooted. I haven't tested out the updated Google Play version yet if this makes a difference?

Nov 19, 2021 2:00:02 AM sp ***@***.***>:

[2021-11-19 08:38] sunilpaulmathew commented on #67
@HonestAbe7
Latest Google Play version may not make any difference as it is published days before you raising this issue (unless some magical remedies).

[2021-11-19 23:08] HonestAbe7 commented on #67
OK. Just updated the F-Droid version so should be the same version on the Google play store. I just wanted to point this minor issue out on my end. You may close this thread. Thanks for looking into this. I value your time and energy looking into this.

Nov 19, 2021 3:38:39 AM sp ***@***.***>:

[2021-11-26 03:05] xyzcm opened #68 "v5.6 Installer Doesn't Initiate A Permission Dialogue"
Hi! I hope I've successfully uploaded the screen record,  just in case, I'll still state my situation.

From fresh install, v5.6 doesn't have the "grant permission" when pressing the install option. It just goes back to default home UI.

But if you're from v5.5 and updated to v5.6, everything's fine.

Thank you!

[2021-11-26 06:25] sunilpaulmathew commented on #68
Screen record is missing. But, I managed to reproduce the issue. I'll try to fix it as soon as possible. Thanks for reporting this.

[2021-11-26 20:48] #68 closed

[2021-12-01 17:23] myuseraccount opened #69 "Unable to use installer on unrooted phone"
I have an un-rooted Samsung phone.  When I tap the + to select a package to install, it just goes back to the application list, without opening a file picker.  Does this feature require root?  It doesn't give me any kind of error message or crash the app.

[2021-12-01 18:26] Valdnet opened #70 ""Cancel" button after executing "Export""
Steps:

1. Select the application.
2. Select "Export" from "Batch Options".

The "Cancel" button in "Batch Processing Completed" should be renamed to "Close". Currently, its text string is confusing for a user who thinks it will cancel the job.

![obraz](https://user-images.githubusercontent.com/47037905/144290449-9825e1e5-e211-457d-b457-5b46bc810701.png)

App:
Package Manager v5.6

[2021-12-01 18:44] sunilpaulmathew commented on #69
@myuseraccount
This issue was already reported (#68) and resolved as of v5.8. I'm sure that you're on an old version. Unfortunately, v5.8 (latest version) is not yet live on F-Droid.
Thanks

[2021-12-01 18:47] sunilpaulmathew commented on #70
@Valdnet
I value your suggestion. However, as I remember, that button will be visible only after the exporting job was completed. So, is it really confusing?

[2021-12-01 18:52] Valdnet commented on #70
Exactly, but the user may not know it 😉.

This is confusing to the user. Each time I wonder what he is canceling 😁.

[2021-12-01 19:01] sunilpaulmathew commented on #70
I'll change it to close, back or exit. Don't know how many places it is currently using.

[2021-12-02 19:57] HonestAbe7 commented on #67
The new updated version is not able to export at all no matter what I do. I will be reverting to the previous version until this is fixed.

[2021-12-02 20:23] sunilpaulmathew commented on #67
Can you tell me the exact version name you're using? If it is not v5.8, please update to it. If the issue still persist even after updating to v5.8, please send me a proper logcat. Otherwise,  I'm really helpless to fix the issue as I'm unable to reproduce it here. Also, just to mention, I'm also using an Android 10 device for development & testing of this a[pp.

[2021-12-02 20:28] HonestAbe7 commented on #67
What is a logcat and how do I use it?

[2021-12-18 20:20] #70 closed

[2021-12-18 22:21] Aga-C commented on #70
@sunilpaulmathew Could you update common strings for Polish, and also add the new Close string to POEditor for translation?

[2021-12-19 07:42] sunilpaulmathew commented on #70
Sorry, I missed your updates on common library. Also, Close is added to PM POEditor page. Thank you.

[2021-12-29 03:47] #67 closed

[2021-12-29 03:50] #62 closed

[2022-01-29 11:33] Giga-Pudding opened #71 "App crash while changing input method"
**Describe the bug**
I was running PackageManager, everything was fine. But i was not familiar with the new gesture control of my new android phone (i was using an ald Samsung Galaxy S7 with Android 8, before). So without closing the PackageManager App, i switched to my phones settings menü and enabled the good old "3 button navigation bar". In that moment, the PackageManager App which was still r

[2022-01-29 13:10] sunilpaulmathew commented on #44
@Valdnet
Not exactly like the way you suggested, I added a new option as seen in the screenshot.

![Screenshot_1643460980](https://user-images.githubusercontent.com/15515387/151662249-7ab69b4e-5cee-4d12-8e2e-3bdaff7f591e.png)

[2022-01-29 13:12] sunilpaulmathew commented on #71
@Giga-Pudding
Thanks for reporting this issue.
Just to clarify, if this issue occur only when you do the mentioned processes. I mean, after the crash, app started and works just normal?

[2022-01-29 13:21] Giga-Pudding commented on #71
exactly! This crash only happens in that moment, when doing the android input config change. After that, PackageManager can be started again, and works fine.

[2022-01-29 20:19] sunilpaulmathew commented on #71
In that case, I'll just leave it, as it won't affect most majority of users.

[2022-02-10 12:45] Valdnet commented on #44
I decided to reopen the issue.

I noticed that by clicking on the "three dots" for the root directory of the internal memory, the application goes to the main window, for example: "All".
In my opinion, when the directory is the root directory, the "three dots" should be grayed out.

[2022-02-10 13:02] Valdnet opened #72 "Internal memory name"
Why is the name of the internal memory called "SDCard"? In my opinion, the name of the medium should be read by the application from the device, i.e. if it is internal memory, the application should display "Internal memory". If it is an SD card, the application should indicate that it is an SD card.

![obraz](https://user-images.githubusercontent.com/47037905/153413557-e7c9e6a5-3520-40b6-a341-b28

[2022-02-10 13:04] #55 closed

[2022-02-10 13:08] #49 closed

[2022-02-15 21:13] xandro0777 commented on #69
v6.0 is in F-droid now, could you test again?

[2022-02-15 21:42] myuseraccount commented on #69
Works great!  I think it was fixed when I got v5.8 through F-Droid, as you mentioned.

[2022-02-15 21:42] #69 closed

[2022-03-15 12:17] Pantyhose-X opened #73 "Q&A How to Export to PC"
My phone doesn't have enough storage, I have 600 apps, how to export directly to PC?  [webdav server](https://github.com/hacdias/webdav)、[ftp server](https://github.com/ppareit/swiftp)、ubs data cable ?

[2022-03-15 12:41] sunilpaulmathew commented on #73
@Pantyhose-X
Although it is a good suggestion, it looks like too difficult in modern devices due to Google's newly introduced restrictions (User app's can't really access to most of the storage spaces).

[2022-03-31 20:10] balporig opened #74 "Setting to change default directory for exports"
A request to add an option to change the default directory (`/storage/emulated/0/Package_Manager`) where the exported apks are stored.

### Reason

Being able to export to external SD Card

[2022-03-31 20:29] balporig opened #75 "Display number of selected apps"
It will be useful somewhere in the ui to have a count of how many apps have been selected when doing batch operations

[2022-04-01 06:45] sunilpaulmathew commented on #74
Hi @balporig
Although it is a good suggestion, it won't simply work on new android versions (especially in Google Play version). Thanks to Google's recent policy changes.

[2022-04-01 06:46] sunilpaulmathew commented on #75
I'll certainly look for it. Thanks for the good suggestion.

[2022-04-01 07:03] balporig commented on #74
I see, how about alternative ROMs? Most are based on LineageOS and the privacy respecting once like CalixOS and GrapheneOS do not include Google Play services or and even if they do they use microG as replacement. Given that most of the users of F-Droid probably use one of those including me, are they going to be affected? I've seen multiple apps on android 12 on those ROMs having working access t

[2022-04-01 07:11] sunilpaulmathew commented on #74
It is nothing related with ROM, but the decision of developer to declare and request "All Files Permission" in the app. I mean, it will still work as long as you don't want to publish your app in Google Play. So, it is definitely possible to implement that feature in the the F-Droid version of my app, which still access "All Files Permission".

[2022-04-01 07:14] balporig opened #76 "Prevent exported apk overwrites"
If you have multiple apps with the same Package ID/Name and you try to export them the result is a single APK only of the last one as the other one is being overwritten.

For example if you have multiple apps with the name `Calculator`.

My suggestion is to have an option to append a version the the end of the name like;

`Calculator.apk` => `Calcultor_1.2.1.apk`
`com.calc.apk` => `com.calc_1.2.1.

[2022-04-01 07:19] balporig commented on #74
Great! Sound like a reasonable solution. Actually my apps take this approach, for example `Home Assistant` due to the notification push API.

[2022-04-18 05:30] ladar opened #77 "FEATURE REQUEST: Include versionName and versionCode in file name."
I like dumping the packages off a device, and it's nice if the file name includes the versionName/Code so updates don't overwrite existing files (yet identical versions stay the same).

Adding the ability to name exported files `packageId-versionName-versionCode.apk` (or apkm) would be ideal.

Also, I've noticed I need to manually grant file system access to the app before exports work. Otherwise

[2022-04-18 06:50] sunilpaulmathew commented on #77
@ladar
Thanks for raising this issue. I'll work on the (first) suggestion soon.

Regarding the second part, can you tell me some more details about reproducing the issue. Also, are you installed this app from google Play or F-Droid (Both has some differences related to the permission side)?

[2022-04-18 08:01] ladar commented on #77
@sunilpaulmathew thank you for adding the name convention.

As for the second issue, I made a short video. As you can see, my first export attempt **appeared** to work just fine, but nothing was actually saved. If a user went looking for the `Package_Manager` directory, it wouldn't be there, and I personally found this very confusing.

So I was just saying, an export operation should error/and or

[2022-04-18 08:12] sunilpaulmathew commented on #77
@ladar
Thanks a lot.  I completely understand it. I'll fix it soon.
Have a nice day

[2022-04-19 06:59] marsgovernor opened #78 "It is suggested to enhance the function of permission management."
It is suggested to enhance the function of permission management.
Hope to do better than it soon.
https://github.com/mirfatif/PermissionManagerX

[2022-04-19 09:02] sunilpaulmathew commented on #78
@marsgovernor
Thanks for the suggestion. However, there is a big hurdle. Android ecosystem doesn't really allow normal user apps to manage other app's permissions. It might work on rooted devices, but may not be much handy (just like the root only app-ops (operations) manager in this app).

[2022-04-22 15:58] Eddyinauburn opened #79 "App refuses to be uninstalled"
I have a problem system app on my phone. It keeps the battery in power supply mode has USB disabled along with wireless charging. Only way to charge is plug it up and reboot. It constantly freezes up. Or it just freezes the screen. It will shut the screen down but stay running. If I try and update - system apps it will start crashing apps mounting and dismounting sim card. Until phone crashes. Or

[2022-04-23 20:13] sunilpaulmathew commented on #79
I'm sorry. I don't understand many things from your issue. Also, it seems like I (as the app developer) have nothing to do with your problem.

[2022-04-28 03:00] VA1DER opened #80 "Installing .xapk does not copy resources"
When installing an .xapk, the installer is supposed to:

1. Install (or offer to install) all contained .apk's
2. Copy (or offer to copy) bulk files contained in the xapk's Android/* to the device's Android/ folder

Package Manage does #1 but does not even offer to do #2.  This makes Package Manage unable to correctly process most xapk's

[2022-04-28 07:35] sunilpaulmathew commented on #80
@VA1DER
Thank you. In fact, I was not even aware about the second point. Is it really important? I believed that the necessary resources should be inside the "base.apk" itself. Also,  I doubt, a user app (like Package manager) is't allowed to copy files into some other apps external data folder (/sdcard/Android/data/*).

[2022-04-28 14:16] VA1DER commented on #80
Yes.  Some apps don't come with the data they need.  You would install the app and the app would download its data and store it, usually in sdcard/android/obb/*.  There are or were(don't know if they still exist) restrictions on where an .apk could drop data to, so when those apps stop being able to download their data they can't get repacked into new .apks that include it because Android won't un

[2022-04-28 16:48] sunilpaulmathew commented on #80
@VA1DER
Personally, I'm against adding more root-only features (I'm slowly going away from root). Moreover, if apps are capable to download its resources (as you mentioned), I really don't think its a matter.

[2022-04-28 17:20] VA1DER commented on #80
.xapk's are generally used when the download resource for an app are no longer available, so the app doesn't just die.  There are many other reasons why .xapk's were built - to distribute apps that are larger than .apk's can handle, for example, so it's not just the "old apps where you can't download the resources any more".  That was just one example of why .xapk's were made.
 To my knowledge, yo

[2022-04-28 18:19] sunilpaulmathew commented on #80
I'll think about your suggestions.However, just to clarify, app is not using root access for installation. Root access is only using for very few things, such as managing AppOps etc.

[2022-04-28 19:31] VA1DER commented on #80
On my Android 12 tablet is asks for root as soon as I tap on the menu button.  Interestingly on my Android 10 phone it doesn't seem to ask for it then.

Fair enough.  All I ask.  And thanks.

[2022-05-01 05:32] #76 closed

[2022-05-01 06:20] #77 closed

[2022-05-01 07:22] #75 closed

[2022-05-02 09:31] ladar commented on #77
@sunilpaulmathew thank you. I'll keep an eye out and test when it hits F-Droid.

[2022-05-08 09:00] balporig opened #82 "Use getVersionName instead getVersionCode for apk exports"
The implementation of #76 uses `sAPKUtils.getVersionCode` to prevent overwrites which for that purpose works fine, but as in most time it does not correspond to the actual app version it's not very useful.  My suggestion is to use the human-readable ` sAPKUtils.getVersionName` instead, just as for the `Export Details` and `App Info`. Here's an example app `Elevate` with version `5.60.1`:

| app

[2022-05-08 09:12] balporig opened #83 "Manual button/pull down to refresh app list"
App list database is not refreshed if after launch any app has been installed/uninstalled/updated. Usually the workaround is to manually kill PackageManager to force db refresh, but this does not always work. My suggestion is to add a way to manually force app list db refresh, which can probably be achieved in the UI by
- pull down gesture on the app list or
- a refresh button left of the search i

[2022-05-08 19:26] sunilpaulmathew commented on #82
@balporig
I understand & I'll think about it. Actually, version code (not version name) is the only thing supposed to change on every app update.

[2022-05-09 11:51] balporig commented on #82
Yep, you're right, but usually only the version name is exposed to end users

[2022-05-15 09:44] Spako0147 opened #84 "Fingerprint hardware missing"

[2022-05-15 15:10] sunilpaulmathew commented on #84
@Spako0147 Can you configure fingerprint first, and then check the settings page of this app?

[2022-05-15 17:43] Spako0147 commented on #84
Yes but it will cost you $500 or you can send me a Google play gift worth the same amount on Whatsapp.

[2022-05-15 18:54] sunilpaulmathew commented on #84
@Spako0147
Okay, closing this issue as I am not a magician to enable fingerprint on a device without hardware support.

[2022-05-15 19:00] Spako0147 commented on #84
Why....?

[2022-05-16 05:46] sunilpaulmathew commented on #84
I'm sorry. I got the confused with one of my another app which already have fingerprint support. I'm reopening this issue.. Still don't know it's important for a package manager app.
Sorry again & have a nice day

[2022-06-19 12:47] kjadfksjd opened #85 "Location of Uninstalled Apps?"
Hey,
I've uninstalled some apps. Now my phone doesn't boot into ROM. Where are the uninstalled apps located? I want to "install" it again. Can you help me finding directions?

[2022-06-19 12:52] sunilpaulmathew commented on #85
@kjadfksjd
Unfortunately, app won't store uninstalled apps. You can however restore it via adb (if connection possible & you know the package names).

[2022-06-19 16:25] kjadfksjd commented on #85
Thank you. I will just wipe everything and be more careful from now on :)

[2022-06-19 16:25] #85 closed

[2022-06-24 07:26] ShareASmile opened #86 "Search in All Apps Tab Crashes the App when high no. of user apps installed"
often face this issue when searching apps from All Apps or User Apps Tab. I have around 75 apps installed on my device Samsung J210F.

Steps to reproduce:
start search keyboard opens, start typing quickly after putting 3-4 letters app crashes (stops responding) & phone hangs.

Here is Crash Report. Hope it Helps. Reproducible on this device Package Manager v6.3, Problem Worse on v6.4 (fdroid insta

[2022-06-24 09:13] sunilpaulmathew commented on #86
@ShareASmile
Thanks, but really strange. Working pretty much decent in my end. & out of curiosity, how many users apps do you have (I mean, is it too low or too high).

[2022-07-06 15:21] #83 closed

[2022-07-15 18:07] Mdfirez opened #89 "Galaxy S22 Ultra"
App isn't recognized as an apk & apkx installer. Additionally app does not default to  (nor recognize) download directory.

[2022-08-11 13:16] guglovich opened #90 "[Feature] Support SD-card"
Please do the SD card review.

[2022-09-24 18:41] VanishPoint13 opened #91 "Yet another building Block"
[]()[]()[]()[]()[]()[]()[]()[]()[]()[]()[]()

[2022-10-02 07:00] #91 closed

[2022-10-11 09:17] Eddyinauburn commented on #79
Sorry i was trying to mainly get some advice because the linked to using
ADB to remove the pre-installed stuff I noticed on his get it listed using
K in that particular command code but other things I've read says putting
the K in their leaves the data in place I bet if you like the cake out it
removes the app and all the data so she ate it with it that's kind of what
I was trying to see if either